@import '../../App.scss';

.logement-container {
    @include flex-dir(column);
    @include position-el(center, center);
}

.infos-logement {
    width: 1240px;
}

.infos {
    @include flex-dir(row);
    @include position-el(space-between, center);
    
    .header-logement {
        h2 {
            margin-top: 0;
            margin-bottom: 0;
            color: $primary-color;
            font-size: 36px;
        }
        
        h3 {
            margin-top: 0px;
            font-size: 18px;
        }
        .tags {
            display: flex;
            gap: 10px;
            span {
                display: inline-block;
                align-content: center;
                width: 115px;
                height: 25px;
                line-height: 11px;
                padding: 3px;
                border-radius: 10px;
                font-size: 14px;
                text-align: center;
                color: $light-color;
                background-color: $primary-color;
            }
        }
    }
    
    .header-avatar {
        @include flex-dir(column);
        @include position-el(space-between, flex-end);
        gap: 25px;
        padding: 20px 0;

        .name-picture {
            @include flex-dir(row);
            @include position-el(space-between, center);
            gap: 15px;
            
            .name {
                @include flex-dir(column);
                @include position-el(center, flex-end);
            }
            
            h4 {
                margin: 2px;
                color: $primary-color;
                font-size: 18px;
            }
            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
        }

    }
}

.collapse-group {
    @include flex-dir(row);
    @include position-el(space-between, flex-start);
    gap: 50px;

    .rule-collapse {
        width: 50%;
    }
    
    .equipment-list {
            list-style-type: none;
            padding-left: 20px;
            line-height: 23px;
    }
}



