@import '../../App.scss';

.logement-container {
    @include flex-dir(column);
    @include position-el(center, center);
    margin: 0 20px;
    @media screen and (max-width: 375px) {
        width: 335px;
    }
}

.infos-logement {
    width: 100%;
    max-width: 1240px;
    @media screen and (max-width: 375px) {
        width: 335px;
    }
}

.infos {
    @include flex-dir(row);
    @include position-el(space-between, center);

    @media screen and (max-width: 768px) {
        @include flex-dir(column);
        @include position-el(center, flex-start)
    }
    
    .header-logement {
        h2 {
            margin-top: 0;
            margin-bottom: 0;
            color: $primary-color;
            font-size: 36px;
            @media screen and (max-width: 768px) {
                font-size: 24px;
                margin-top: 15px;
            }
            @media screen and (max-width: 375px) {
                font-size: 18px;
            }
        }
        
        h3 {
            margin-top: 0px;
            font-size: 18px;
            @media screen and (max-width: 768px) {
                font-size: 16px;
                margin-top: 10px;
            }
            @media screen and (max-width: 375px) {
                font-size: 14px;
                margin-top: 8px;
            }
        }
        .tags {
            display: flex;
            gap: 10px;
            span {
                display: inline-block;
                align-content: center;
                width: 115px;
                height: 25px;
                line-height: 11px;
                padding: 3px;
                border-radius: 10px;
                font-size: 14px;
                text-align: center;
                color: $light-color;
                background-color: $primary-color;

                @media screen and (max-width: 375px) {
                    width: 84px;
                    height: 18px;
                    font-size: 10px;
                    line-height: 8px;
                }
            }
        }
    }
    
    .header-avatar {
        @include flex-dir(column);
        @include position-el(space-between, flex-end);
        gap: 25px;
        padding: 20px 0;
        @media screen and (max-width: 768px) {
            @include position-el(space-between, center);
            width: 100%;
            flex-direction: row-reverse;
            padding: 15px 0;
        }

        .name-picture {
            @include flex-dir(row);
            @include position-el(space-between, center);
            gap: 15px;
            
            .name {
                @include flex-dir(column);
                @include position-el(center, flex-end);
            }
            
            h4 {
                margin: 2px;
                color: $primary-color;
                font-size: 18px;

                @media screen and (max-width: 375px) {
                    font-size: 12px;
                }
            }
            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                @media screen and (max-width: 375px) {
                    width: 32px;
                    height: 32px;
                }
            }
        }

    }
}

.collapse-group {
    @include flex-dir(row);
    @include position-el(space-between, flex-start);
    gap: 50px;
    @media screen and (max-width: 768px) {
        @include flex-dir(column);
        gap: 20px;
    }
    
    .rule-collapse {
        width: 50%;
        @media screen and (max-width: 768px) {
            margin: 0 auto;
            width: 100%;
        }
    }
    
    .equipment-list {
            list-style-type: none;
            padding-left: 20px;
            line-height: 23px;
            @media screen and (max-width: 375px) {
                padding-left: 10px;
                line-height: 18px;
            }
    }
}



