@import '../../App.scss';

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 44px;
    margin: auto;
    padding: 44px;
    border-radius: 25px;
    background-color: $grey-color;
        
    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    }
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 33px;
        padding: 33px;
    }
    @media screen and (max-width: 375px) {
        margin: 0;
        gap: 22px;
        padding: 0;
        background: none;
    }
}