@import '../../App.scss';
  
  .star {
    padding-left: 15px;
    height: 24px;
    @media screen and (max-width: 1024px) {
      padding-left: 8px;
      height: 18px;
  }
    @media screen and (max-width: 375px) {
      padding-left: 8px;
      height: 15px;
  }
  }
  