@import '../../App.scss';

.rule-collapse {
    margin: 0 auto;
    max-width: 1023px;
    overflow: hidden;
    
    .header-collapse {
        @include flex-dir(row);
        @include position-el(space-between, center);
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        background-color: $primary-color;
    }
    
    .title-collapse {
        margin: 0;
        font-weight: $bolder-font-weight;
        font-size: 24px;
        color: $light-color;
    }
    
    .arrow-collapse {
        width: 32px;
        height: 32px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .rotate {
        transform: rotate(-180deg);
    }

    .text-block {
        position: relative;
        z-index: -1;
        margin: 0;        
        line-height: 1.4;
        overflow: hidden;
        background-color: $grey-color;
        
        transition: 
            max-height 0.3s ease,
            transform 0.3s ease,
            opacity 0.3s ease;
        
        opacity: 0;
        max-height: 0;
        transform-origin: top;
        transform: translateY(-100%);
    }
    
    .content-collapse {
        padding: 10px 20px;
    }
    
    &.expanded .text-block {
        opacity: 1;
        max-height: 1000px;
        transform: translateY(0);
    }
}