// This stylesheet contains : variables and mixins, body and main tags used inside multiple pages and components.
// Each page and component have their own index.scss stylesheet.

// Colors variables
$primary-color: #FF6060;
$light-color: white;
$dark-color: black;
$grey-color: #F6F6F6;

// Fonts variables
$main-font: "Montserrat", sans-serif;
$normal-font-weight: 500;
$bolder-font-weight: 700;

// Layouts elements
@mixin flex-dir($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin position-el($axe1, $axe2) {
    justify-content: $axe1;
    align-items: $axe2;
}

body {
    margin: 0 auto;
    padding-top: 45px;
    max-width: 1440px;
    font-family: $main-font;

    @media screen and (max-width: 375px) {
        padding-top: 20px;
    }
}

main {
    @include flex-dir(column);
    margin: 0 100px;
    gap: 50px;

    @media screen and (max-width: 1024px) {
        margin: 0 40px;
        gap: 40px;
    }
    @media screen and (max-width: 768px) {
        margin: 0 20px;
        gap: 22px;
    }
}