@import '../../App.scss';

.banner {
    display: flex;
    @include position-el(center, center);
    height: 223px;
    color: $light-color;
    font-weight: $bolder-font-weight;
    
    h2 {        
        position: absolute;
        z-index: 1;
        font-size: 48px;
    }
    .background {
        width: 100%;
        height: 100%;
        background-position: center;
        border-radius: 25px;
    
        &--home {
            background-image: url(../../assets/image-source-1.jpg);
            filter: brightness(30%);
            box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        }
        &--about {
            background-image: url(../../assets/image-source-2.jpg);
            filter: brightness(70%);
        }
    }
}